body{
  background-color: rgb(99, 99, 99);
}
.head{
  background-color: rgb(23, 22, 22);
}
h1{
  font-family: Arial, Helvetica, sans-serif;
          background: linear-gradient(to right, #f32170,
                  #ff6b08, #cf23cf, #eedd44);
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text; 
}
.logndSign a:hover{
  color: black;
  font-weight: bold;
}
.logndSign a{
  color: white;
  font-weight: bold;
}
h3{
  background-color: #861657;
  background-image: linear-gradient(326deg, #7a144f 0%, #932319 74%);
}
.btn{
  background-color: #861657;
  background-image: linear-gradient(326deg, #7a144f 0%, #932319 74%);
  color: white;
  width: 50%;
}
.btn:hover{
  background-color: black;
  background-image: none;
  color: white;
}

input{
  height: 40px;
  width: 80%;
  color: white;
  text-decoration: none;
  background-color: rgb(23, 22, 22);
  border: none;
  border-bottom: 3px solid #861657;
}
input:focus {
  outline:none;
  
}
#card{
  box-shadow: rgba(12, 12, 12, 0.35) 0px 10px 30px;
  background-color: rgb(23, 22, 22);
}
a{
  text-decoration: none;
}
p{
  color: silver;
}
h3:hover{
  color: red;
  background-color: black;
}
Link:hover{
  color: red;
}





